
snake/.vs/snake/FileContentIndex/276abf2b-ca44-4510-9820-03af8e92b82d.vsidx
snake/.vs/snake/FileContentIndex/2.vsidx
snake/.vs/snake/FileContentIndex/2.vsidx
snake/.vs/snake/FileContentIndex/3533058a-46fe-4dd6-87e8-915d2789e76f.vsidx
*.vsidx
